@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

html {
  background-color: #2C2F33;
}

body {
  color: white;
  text-align: center;
  font-family: 'Indie Flower';
}

#header {
  font-size: 30px;
  padding-top: 10px;
}

#avatardiv {
  padding-top: 30px;
}

.avatar {
  width: 128px;
  height: 128px;
  border-radius: 128px;
}

#desc {
  font-size: 20px;
  padding-top: 15px;
}
