@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

html {
  background-color: black;
}

body {
  color: white;
  text-align: center;
  font-family: 'Indie Flower';
}

#header {
  font-size: 30px;
}

#avatar {
  border-radius: 150px;
}

#desc {
  font-size: 20px;
}
